# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Bases de datos SQLite
*.db
*.sqlite
*.sqlite3

# Variables de entorno
.env

# Carpetas de editores
.vscode/
.idea/

# Archivos comprimidos o temporales
*.zip
*.rar
*.tar.gz
